scripts/etri-setup/k3s/crictl
scripts/etri-setup/k3s/ctr
scripts/etri-setup/k3s/k3s
scripts/etri-setup/k3s/k3s-airgap-assets-v1.33.4+k3s1-arm64/
scripts/etri-setup/k3s/kubectl
scripts/etri-setup/k3s/docker_images/